name: CI

on: [pull_request]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    environment:
      name: ci
    env:
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_PORT: 5432
    services:
      db:
        image: postgres:18.1
        env:
          POSTGRES_DB: ${{ secrets.DB_NAME }}
          POSTGRES_USER: ${{ secrets.DB_USER }}
          POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        distribution: ["temurin"]
        java-version: ["25"]
    steps:
      - name: Java version
        env:
          JAVA_VERSION: ${{ matrix.java-version }}
        run: echo $JAVA_VERSION

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up JDK ${{ matrix.distribution }} ${{ matrix.java-version }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java-version }}
          cache: "gradle"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: create table on database
        run: ./gradlew flywayMigrate

      - name: execute jOOQ code generator
        run: ./gradlew jooqCodegen

      - name: Check
        run: ./gradlew check
